<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
</div>